## Plotting data temperature in a chart

https://gis.ncdc.noaa.gov/maps/ncei/summaries/daily

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
madrid = pd.read_csv("madrid_weather_20200401T072911.csv")

In [3]:
madrid.head(365)

         timestamp  temperature_celsius  precipitation_mm  wind_speed_km_h
0    20200318T0000            11.643209               0.0        14.338656
1    20200318T0100            11.103209               0.0        13.583788
2    20200318T0200            10.833208               0.0        13.191508
3    20200318T0300            10.313209               0.0        13.207638
4    20200318T0400             9.713208               0.0        12.859147
..             ...                  ...               ...              ...
355  20200401T1900            12.813209               0.0         5.172553
356  20200401T2000            12.263208               0.0         5.644915
357  20200401T2100            11.643209               0.0         6.074854
358  20200401T2200            10.603209               0.0         6.665326
359  20200401T2300             9.493208               0.0         8.009740

[360 rows x 4 columns]

- Calcalute temp max, min & avg per each day
- plot as line graph
- plot precipation as bar graph