### Goal
Summarise every exercise of SQL Bolt website and reproduce them in Python

### SQL Lesson 1: SELECT queries 101

- Find the title of each film

SELECT Title FROM movies;

- Find the director of each film

SELECT Director FROM movies;

- Find the title and director of each film

SELECT Title, Director FROM movies;

- Find the title and year of each film

SELECT Title, Year FROM movies;

- Find all the information about each film

SELECT * FROM movies;

### SQL Lesson 2: Queries with constraints (Pt. 1)

- Find the movie with a row id of 6

SELECT * FROM movies
WHERE Id = 6;

- Find the movies released in the years between 2000 and 2010

SELECT * FROM movies
WHERE year BETWEEN 2000 AND 2010;

- Find the movies not released in the years between 2000 and 2010

SELECT * FROM movies
WHERE year NOT BETWEEN 2000 AND 2010;

- Find the first 5 Pixar movies and their release year

SELECT * FROM movies
ORDER BY Year
LIMIT 5;

### SQL Lesson 3: Queries with constraints (Pt. 2)
- Find all the Toy Story movies

SELECT * FROM movies
WHERE Title LIKE "Toy Story%";

- Find all the movies directed by John Lasseter

SELECT * FROM movies
WHERE Director = "John Lasseter";

- Find all the movies (and director) not directed by John Lasseter

SELECT * FROM movies
WHERE Director != "John Lasseter";

- Find all the WALL-* movies

SELECT * FROM movies
WHERE Title LIKE "WALL-%";

### SQL Lesson 4: Filtering and sorting Query results
- List all directors of Pixar movies (alphabetically), without duplicates

SELECT DISTINCT Director FROM movies
ORDER BY Director;

- List the last four Pixar movies released (ordered from most recent to least)

SELECT Title FROM movies
ORDER BY Year DESC
LIMIT 4;

- List the first five Pixar movies sorted alphabetically

SELECT Title FROM movies
ORDER BY Title ASC
LIMIT 5;

- List the next five Pixar movies sorted alphabetically

SELECT Title FROM movies
ORDER BY Title ASC
LIMIT 5
OFFSET 5;

### SQL Review: Simple SELECT Queries
- List all the Canadian cities and their populations

SELECT City, Population FROM north_american_cities
WHERE Country = "Canada";

- Order all the cities in the United States by their latitude from north to south

SELECT * FROM north_american_cities
WHERE Country = "United States"
ORDER BY Latitude DESC;

- List all the cities west of Chicago, ordered from west to east

SELECT city, longitude FROM north_american_cities
WHERE
Longitude < (
    SELECT Longitude FROM north_american_cities
    WHERE City = "Chicago")
ORDER BY Longitude ASC;

- List the two largest cities in Mexico (by population)

SELECT City, Population FROM north_american_cities
WHERE
Country = "Mexico" 
ORDER BY Population DESC
LIMIT 2;

- List the third and fourth largest cities (by population) in the United States and their population

SELECT City, Population FROM north_american_cities
WHERE
Country = "United States" 
ORDER BY Population DESC
LIMIT 2
OFFSET 2;