In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
import getpass

%matplotlib inline

In [2]:
conn = pymysql.connect(host="localhost",
                       port=3306,
                       user="root",
                       passwd=getpass.getpass(),
                       db="olist")

········

In [3]:
q = """
SELECT DISTINCT
    DATE_FORMAT(o.order_purchase_timestamp, "%Y-%m-01") AS month_id,
    oi.seller_id
FROM orders o
    JOIN order_items oi
    ON o.order_id = oi.order_id
ORDER BY 1,2
"""

df = pd.read_sql(q,conn)

In [4]:
df.head()

     month_id                         seller_id
0  2016-09-01  1554a68530182680ad5c8b042c3ab563
1  2016-09-01  a425f92c199eb576938df686728acd20
2  2016-09-01  ecccfa2bb93b34a3bf033cc5d1dcdc69
3  2016-10-01  011b0eaba87386a2ae96a7d32bb531d1
4  2016-10-01  01cf7e3d21494c41fb86034f2e714fa1